@import "variables";

html,
body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
}

textarea,
[type="checkbox"],
[type="text"] {
  box-sizing: border-box;
  padding: 0;
}

p,
a,
button {
  font-size: $font-size;
}
