$gray-050: #f7f7f7;
$gray-100: #e1e1e1;
$gray-200: #cfcfcf;
$gray-300: #b1b1b1;
$gray-400: #9e9e9e;
$gray-500: #7e7e7e;
$gray-600: #626262;
$gray-700: #515151;
$gray-800: #3b3b3b;
$gray-900: #222222;
$blue: #4299e0;
$white: #ffffff;
$text-sm: 0.8rem;
